@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* Fontes: Bebas Neue, Poppins, Roboto e Tejawal */

/* CSS Global */

:root {
    --cor1: #D96C80;
    --cor2: #163A59;
    --cor3: #03658C;
    --cor4: #03738C;
    --cor5: #04D9C4;

    --fontePadrao: 'Poppins', Verdana, Helvetica, sans-serif;
    --fonteDestaque: 'Bebas Neue', Arial;
    --fonteAndroid: 'Poppins', Arial;
}

body {
    background-color: var(--cor2);
    font-family: var(--fontePadrao);
    margin: 0px;
    padding: 0px;
}

abbr {
    text-decoration: none;
}

img {
    width: 100%;
}

iframe {
    max-height: 315px;
    max-width: 560px;
}

/* HEADER */

header {
    background-color: var(--cor2);  
    min-height: 130px;
    text-align: center;
    
}

header > h1 {
    font-family: var(--fonteDestaque);    
    color: white;
    margin: 0px;
    padding-bottom: 5px;
    padding-top: 29px;
}

header > p {
    color: white;
    margin: 0px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

/* NAV */

nav {
    background-color: var(--cor1);
    padding: 10px 0px;
}

nav > p {
    text-align: center;
    margin: auto;
}

nav a {    
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;  
    transition-duration: 0.2s;   
}

nav a:hover {
    color: var(--cor2);
    font-weight: 600;   
}

/* MAIN */

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main {
    background-color: white;
}

article {
    max-width: 800px;
    min-width: 280px;
    padding: 20px;
}

main p {
    text-align: justify;
    text-indent: 15px;
}

main p, main h1,  h2, h3, h4, h5, h6 {
    font-family: var(--fontePadrao);
    margin: 15px    
}

main a, main aside a {
    color: black;
    text-decoration: none;
    background-color: var(--cor1);
    padding: 0px 4px;
    border-radius: 4px;
    transition-duration: 0.2s;
}

main a::after {
    content: ' ☍';
}

main a:hover {
    padding: 0px 6px;
    color: white;
}

aside {
    margin: 15px
}

/* FOOTER */

footer {
    background-color: var(--cor2);
}

footer > p  {
    color: white;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

footer p::after {
    content: '';
    display: block;
    background-color: white;
    width: 60px;
    height: 6px;
    margin: auto;
    border-radius: 10px;
    margin-top: 7px;
}

footer a {
    color: var(--cor1);
    text-decoration: none;
}